main {
  padding: 10px;
  height: calc(100vh - (var(--header-height) + var(--send-form-height)));
  overflow-y: auto;
  box-sizing: border-box;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: var(--theme-color);
}

main::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #dc3b3e,
    #3b99dc 50%,
    #3bdc90 75%,
    rgb(255 141 0) 100%
  );
  border-radius: 20px;
}

.send-message-form {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 70, 128);
  position: fixed;
  bottom: 0;
  width: var(--main-width);
  height: var(--send-form-height);
}

input.send-message {
  padding: 10px 15px;
  border-radius: 25px;
  margin: 10px;
  border: none;
  outline: none;
  width: 300px;
  color: #333;
}

.send-message-form button {
  background-color: var(--theme-color);
  box-shadow: 0 0 11px #fff;
  padding: 15px;
  border-radius: 25px;
  margin: 10px;
  font-size: 0.75rem;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease;
}

.send-message-form button:hover {
  background-color: snow;
}

.send-message-form button:disabled {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.75;
}

.send-img {
  width: 30px;
  height: 30px;
}
