:root {
  --theme-color: rgb(0, 70, 128);
  --main-width: 500px;
  --header-height: 60px;
  --send-form-height: 60px;
}

body {
  background-color: rgba(0, 70, 128, 0.25);
}

.App {
  margin: 0 auto;
}

.login-page {
  text-align: center;
}

.App header {
  background-color: var(--theme-color);
  height: 60px;
  color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  box-sizing: border-box;
}

h1 {
  padding: 10px;
  color: #fff;
}

.App section {
  max-width: var(--main-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 70, 128, 0.25);
  margin: 0 auto;
}

main {
  padding: 10px;
  height: calc(100vh - (var(--header-height) + var(--send-form-height)));
  margin: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: var(--theme-color);
}

main::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #dc3b3e,
    #3b99dc 50%,
    #3bdc90 75%,
    rgb(255 141 0) 100%
  );
  border-radius: 20px;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button.sign-out {
  background-color: var(--theme-color);
  height: 100%;
  transition: color 0.25s ease, background-color 0.25s ease;
  color: #fff;
}

button.sign-out:hover {
  background-color: #fff;
  color: var(--theme-color);
}

button.sign-in {
  background-color: var(--theme-color);
  height: 100%;
  transition: color 0.25s ease, background-color 0.25s ease;
  color: #fff;
}

button.sign-in:hover {
  background-color: #fff;
  color: var(--theme-color);
  outline: 2px solid var(--theme-color);
  outline-offset: -2px;
}

.login-page form button {
  margin: 0 auto;
}

.login-page label {
  display: block;
  color: #333;
  font-size: 1.25rem;
  margin: 0 auto;
  margin-bottom: 0.75rem;
  font-weight: bold;
  width: calc(var(--main-width) - 50px);
  text-align: left;
}

.login-page input {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #333;
  outline: none;
  border: none;
  width: calc(var(--main-width) - 50px);
  margin-bottom: 1.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.login-page button {
  display: block;
}

.login-page p {
  text-align: center;
  max-width: unset;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 300px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: #333;
  text-align: center;
}

.message {
  display: flex;
}

.message p {
  margin-top: 5px;
  width: fit-content;
  text-align: left;
  word-break: break-word;
}

.sent {
  justify-content: end;
}

.sent p {
  color: #fff;
  background: #0b93f6;
}

.sent .message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.received p {
  background: #e5e5ea;
  color: black;
}

.author-details {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.received .author-details {
  justify-content: start;
}

img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px 5px;
}

.error-messages {
  color: red;
  margin-bottom: 1rem;
}

.google-span {
  cursor: pointer;
  text-decoration: underline;
}

.display-name {
  color: #fff;
}

a {
  color: inherit;
}

.sign-in-google {
  margin-bottom: 1rem;
  opacity: 0;
}

h2 {
  color: #333;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

.send-message-form {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 70, 128);
  position: fixed;
  bottom: 0;
  width: var(--main-width);
  height: var(--send-form-height);
}

input.send-message {
  padding: 10px 15px;
  border-radius: 25px;
  margin: 10px;
  border: none;
  outline: none;
  width: 300px;
  color: #333;
}

.send-message-form button {
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  margin: 10px;
  font-size: 0.75rem;
}

.send-message-form button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
}
